.container
    .container_date-picker
        input(type='date' class='date-picker' placeholder='Pick a date')
    .sessions

    a(class='card', href='#')
        .card-title.
            Terminator
        .card-time.
            10:00-14:00